Resume AI

# put this in your ~/.wakatime.cfg file
Resume AI
[settings]
api_url = https://hackatime.hackclub.com/api/hackatime/v1
api_key = 2b3bfd1d-3d7b-4705-9d36-bc8ed40569cc
heartbeat_rate_limit_seconds = 30

# any other wakatime configs you want to add: https://github.com/wakatime/wakatime-cli/blob/develop/USAGE.md#ini-config-file